language: node_js

node_js:
  - "8"

env:
  global:
    - PATH=$HOME/.local/bin:$PATH

before_install: pip install --user awscli

jobs:
  include:
    - stage: test
      script: make lint test

    - stage: api
      if: branch = master AND type = push
      script: make publish

    - stage: npm release
      if: branch = master AND tag = true
      script: make dist
      deploy:
        provider: npm
        api_key: $NPM_TOKEN
        on: deploy-npm-release
